<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148036630017-e6p94419p21u0aa44lltr0gor9qef603.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1480365550017-e6p33319p21u0aa93lltr0gor9qef603</string>
	<key>API_KEY</key>
	<string>AIzaSyCz64Y6c1vVVFXoHO44fdr3o_Uwo5A7etY</string>
	<key>GCM_SENDER_ID</key>
	<string>148036630017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>samikshro-yahoo.com.Omnibee.prod</string>
	<key>PROJECT_ID</key>
	<string>omnibee-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>omnibee-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148036630017:ios:c8725cd088a423ea563555</string>
</dict>
</plist>